.feed-item-component {
	border-top: 1px solid gray;
    overflow: hidden;
    .head {
        $head-height: 80px;
        background: #595959;
        height: $head-height;
        padding: 10px 10px 10px 0;
        .avatar {
            float: left;
            height: $head-height;
            width: 60px;
            padding-left: 15px;
            img {
                width: 30px;
                border-radius: 15px;
                border-top-right-radius: 0;
            }
        }
        .name-line {
            color: #cccccc;
            font-size: 0.8em;
            .time {
                float: right;
            }
        }
        .description {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            color: #ffffff;
            padding: 3px 0 0 0;
        }

    }
}