.root-error {

	$message-color: orange;

	position: absolute;
	background: white;
	color: $message-color;
	//margin: 40px auto 40px auto;
	border: 2px solid $message-color;
	width: 80%;
	top: 6%;
	left: 10%;
	padding: 30px;
	border-radius: 10px;
	overflow: hidden;
	overflow-y: scroll;
	max-height: 600px;

	.message, .dev-msg {
		font-size: 90%;
		p {
			font-size: 90%;
			color: #999;
		}
	}

	.button-hide {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
	}

}