

.root-component {
	.section-wrapper {
		position: relative;
        background: #cccccc;
        perspective: 1000px;
		.slide-in-out {
			position: absolute;
			top: 0;
			width: 100%;
			min-height: 400px;
            background: #dddddd;
		}
	}

	$message-color: #dddddd;
	.root-message {
		color: $message-color;
		margin: 40px auto 40px auto;
		border: 2px solid $message-color;
		width: 50%;
		padding: 30px;
		border-radius: 10px;
	}
}