@import "../../style";

.login-component {
    overflow: hidden;
    background: $buzz-yellow;
    min-height: 600px;
    .login-box {
        width: 400px;
        margin: 100px auto 0 auto;
        text-align: center;
    }
    .logo {
        .symb {
            $symb-dim: 100px;
            display: inline-block;
            font-size: $symb-dim;
            line-height: $symb-dim;
            width: $symb-dim;
            height: $symb-dim;
            border-radius: $symb-dim/2;
            background: black;
            color: $buzz-yellow;
            overflow: hidden;
        }
        font-size: 3em;
        margin-bottom: 20px;
    }
    .controls {
        input, button {
            margin-bottom: 6px;
            width: 50%;
            outline: 0;
        }
        .msg-space {
            height: 20px;
            b { 
                vertical-align: middle;
                font-size: 1.5em; 
            }
        }
        button {
            margin-top: 6px;
            font-size: 1.2em;
            padding: 10px;
            background: $buzz-yellow;
            border: 1px solid black;
            outline: 0;
        }
    }
}